@model  IEnumerable<ProyectoED1.Models.Contenido>
    @using ProyectoED1.DBContext;
@{
    ViewBag.Title = "Catalogo";
    
}

<h2>Catalogo</h2>

@using (Html.BeginForm("Catalogo", "Login", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    <h2>Buscar Contenido</h2>
    @Html.TextBox("id")
    <input type="submit" name="id" value="Buscar" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anio_Lanzamiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio_Lanzamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @if (@DefaultConnection.getInstance.publico.Username != null)
                {
                @Html.ActionLink("Agregar a mi WatchList", "agregar", new { id = item.Nombre })
                }
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Nombre })
            </td>
        </tr>
    }

</table>