@model  IEnumerable<ProyectoED1.Models.Contenido>
    @using ProyectoED1.DBContext;
@{
    ViewBag.Title = "Catalogo";
    
}

@{
    Layout = null;
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        @Html.ActionLink("GUAFLIX", "Logeado", "Login", new { area = "" }, new { @class = "navbar-brand" })
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inicio", "Logeado", "Login")</li>
            <li>@Html.ActionLink("Mostrar Catalogo", "Catalogo", "Login")</li>     
            @if (@DefaultConnection.getInstance.publico.Username != null)
            {            
            <li>@Html.ActionLink("Mi WatchList", "WatchList", "Login")</li>
            <li>@Html.ActionLink("Cerrar Sesion", "Cerrar", "Login")</li>
            }
        </ul>
    </div>
</div>

<h2>Catalogo</h2>

@using (Html.BeginForm("Catalogo", "Login", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    <h2>Buscar Contenido</h2>
    @Html.TextBox("id")
    <input type="submit" name="id" value="Buscar" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anio_Lanzamiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio_Lanzamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @if (@DefaultConnection.getInstance.publico.Username != null)
                {
                @Html.ActionLink("Agregar a mi WatchList", "agregar", new { id = item.Nombre })
                }
                @if (@DefaultConnection.getInstance.adminadentro == true)
                {
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Nombre })
                }
            </td>
        </tr>
    }

</table>