@model ProyectoED1.Models.Contenido

@{
    ViewBag.Title = "Administrador";
    Layout = null;
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
}
<title>Administrador</title>
<style type="text/css">
    #sizing-addon1 {
        width: 200px;
        font-family: Impact;
    }

    #IngresoLog {
        width: 200px;
        background-color: red;
    }

    body {
        background-color: #FA8258;
    }

    #formato {
        background-color: white;
        width: 450px;
        padding: 25px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        text-align: left;
        padding-left: 50px;
        padding-right: 50px;
    }


    h1 {
        font-size: 50px;
        color: red;
        font-weight: 900;
    }

    .col-md-10 {
        padding-left: 30px;
    }
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        @Html.ActionLink("GUAFLIX", "Administrador", "Login", new { area = "" }, new { @class = "navbar-brand" })
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inicio", "Administrador", "Login")</li>
            <li>@Html.ActionLink("Lista de Usuarios", "Users", "Login")</li>
            <li>@Html.ActionLink("Mostrar Catalogo", "Catalogo", "Login")</li>     
            <li>@Html.ActionLink("Cerrar Sesion", "Index", "Home")</li>
        </ul>
    </div>
</div>

<h2></h2>
<div id="formato">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4><img src="@Url.Content("~/Imagenes/lentes.png")" width="100" height="100" />Creando Contenido</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Tipo, new List<SelectListItem>
    {
                        new SelectListItem() {Text = "Documental", Value="Documental"},
                        new SelectListItem() {Text = "Pelicula", Value="Pelicula"},
                        new SelectListItem() {Text = "Serie", Value="Serie"}
    })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Anio_Lanzamiento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Anio_Lanzamiento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Anio_Lanzamiento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Genero, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Genero, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear" class="btn btn-default" />
                </div>
            </div>


        </div>
    }

</div>