@model ProyectoED1.Models.Contenido

@{
    ViewBag.Title = "Delete";
}
@{
    Layout = null;
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
}
<link rel="icon" type="image/png" href="@Url.Content("~/Imagenes/cinta.png")" />
<title>Eliminar</title>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        @Html.ActionLink("GUAFLIX", "Administrador", "Login", new { area = "" }, new { @class = "navbar-brand" })
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inicio", "Administrador", "Login")</li>
            <li>@Html.ActionLink("Lista de Usuarios", "Users", "Login")</li>
            <li>@Html.ActionLink("Mostrar Catalogo", "Catalogo", "Login")</li>     
            <li>@Html.ActionLink("Cerrar Sesion", "Index", "Home")</li>
        </ul>
    </div>
</div>

<style type="text/css">
    #sizing-addon1 {
        width: 200px;
        font-family: Impact;
    }

    #IngresoLog {
        width: 200px;
        background-color: red;
    }

    body {
        background-color: #FA5858;
    }

    #formato {
        background-color: white;
        width: 450px;
        padding: 25px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        text-align: left;
        padding-left: 50px;
        padding-right: 50px;
    }


    h1 {
        font-size: 50px;
        color: red;
        font-weight: 900;
    }

    .col-md-10 {
        padding-left: 30px;
    }
</style>


<h1></h1>
<h2></h2>
<div id="formato">
    <h3>Seguro que deseas eliminar este contenido?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anio_Lanzamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio_Lanzamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar y Cancelar", "Catalogo")
        </div>
    }
</div>
