
@{
    ViewBag.Title = "Inicio de Sesion";
}

@{
    Layout = null;
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
}

<h1>Guaflix</h1>
<title>Guaflix</title>

<style type="text/css">
    #sizing-addon1 {
        width: 200px;
        font-family: Impact;
    }

    #IngresoLog {
        width: 200px;
        background-color: red;
    }

    body {
        background-color: black;
    }

    #formato {
        background-color: white;
        width: 450px;
        padding: 25px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        text-align: left;
        padding-left: 50px;
        padding-right: 50px;
    }

    h1 {
        font-size: 50px;
        color: red;
        font-weight: 900;
    }
</style>

<div id="formato">
    @using (Html.BeginForm("Logear", "Login", FormMethod.Get, new { enctype = "multipart/form-data" }))
    {
        <form action="" method="post" name="FormEntrar" id="log">
            <h2>Inicia Sesión</h2><br />
            <div class="textos">
                <span class="input-group-addon" id="sizing-addon1"><strong class="glyphicon glyphicon-envelope"> Ingrese su Username</strong></span><br />
                <input type="text" class="form-control" name="user" placeholder="Username" id="user">
            </div>
            <br>
            <div class="textos">
                <span class="input-group-addon" id="sizing-addon1"><strong class="glyphicon glyphicon-lock"> Ingrese su contraseña</strong></span><br />
                <input type="password" name="contra" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
            </div>
            <br>

            <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">Iniciar Sesion</button>
            <br />
            <br />

            <div class="opcioncontra">Eres nuevo? @Html.ActionLink(" Suscríbite ya", "registro", "Login")</div>
            <span style="color:red">@ViewBag.Message</span><br />
        </form>
    }
</div>

<footer>
    <p>&copy; @DateTime.Now.Year - Fabian Alvarez y Erick Contreras ED1</p>
</footer>