
@using ProyectoED1.DBContext;
@{
    ViewBag.Title = "Inicio Usuario";
}

<title>Pagina de Inicio</title>
@{
    Layout = null;
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
}
<link rel="icon" type="image/png" href="@Url.Content("~/Imagenes/cinta.png")" />
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        @Html.ActionLink("GUAFLIX", "Logeado", "Login", new { area = "" }, new { @class = "navbar-brand" })
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inicio", "Logeado", "Login")</li>            
            <li>@Html.ActionLink("Mostrar Catalogo", "Catalogo", "Login")</li>     
            <li>@Html.ActionLink("Mi WatchList", "WatchList", "Login")</li>
            <li>@Html.ActionLink("Cerrar Sesion", "Cerrar", "Login")</li>
        </ul>
    </div>
</div>

<MARQUEE BEHAVIOR=ALTERNATE style="font-size:70px;">Bienvenido de nuevo ¡@DefaultConnection.getInstance.publico.Nombre! </MARQUEE>
<style type="text/css">
    #foto {
        width: 800px;
        background-color: #F3F781;
    }

    mark{
        font-size:70px;
       
    }

    #mover {
        padding-left: 300px;
        padding-top: 100px;
    }

    .navbar-brand1 {
        font-size: 50px;
        padding-right: 230px;
        padding-left:25px;
        font-size:50px;
        font-weight: 500;
        color: black;
    }

        .navbar-brand1:hover {
            font-size: 50px;
            padding-right: 230px;
        }

    body {
        background-color: #FE642E;
    }

    footer {
        padding-top: 150px;
        position: center;
    }
</style>

<div id="mover">
    <div id="foto">
        @Html.ActionLink("Empezar a ver", "Catalogo", "Login", new { area = "" }, new { @class = "navbar-brand1" })<img id="ima" src="@Url.Content("~/Imagenes/poporopos.png")" width="200" height="200" />
    </div>
</div>


<footer>
    <p>&copy; @DateTime.Now.Year - Fabian Alvarez y Erick Contreras ED1</p>
</footer>