
@{
    Layout = null;
    ViewBag.Title = "Carga";
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
}
<link rel="icon" type="image/png" href="@Url.Content("~/Imagenes/cinta.png")" />
<title>Carga de Archivos</title>
<style type="text/css">
    body {
        background-color: #BCA9F5;
    }

    .table {
        background-color: white;
        border: 5px solid black;
    }


    #mover {
        padding-left: 50px;
        padding-right: 50px;
    }

    #mover2 {
        padding-left: 50px;
        padding-bottom: 30px;
    }

    #buscar {
        padding: 20px;
        background-color: #E1F5A9;
        width: 400px;
    }

    h2 {
        font-size: 70px;
        padding-left: 250px;
        padding-bottom:25px;
    }

    h3 {
        padding-left:50px;
    }

    #foto {
        float: right;
        padding-right: 100px;
    }

    #Pelis{
        background-color:#81F79F;
        width: 800px;
        padding:20px;
    }
    #Docus{
         background-color:#D8F781;
         width: 950px;
         padding:20px;
    }
    #Series{
        background-color:#F7BE81;
        width: 800px;
        padding:20px;   
    }

    #arboles{
        padding-left:50px;
    }

    footer{
        padding-top:75px;
    }

    .navbar-brand1,.navbar-brand2,.navbar-brand3 {
        font-size: 30px;
        padding-right:50px;
        padding-left:25px;
        font-size:50px;
        font-weight: 500;
        color: black;
    }

    .navbar-brand3{
        padding-right:25px;
    }
    
</style>



<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        @Html.ActionLink("GUAFLIX", "Administrador", "Login", new { area = "" }, new { @class = "navbar-brand" })
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inicio", "Administrador", "Login")</li>
            <li>@Html.ActionLink("Lista de Usuarios", "Users", "Login")</li>
            <li>@Html.ActionLink("Mostrar Catalogo", "Catalogo", "Login")</li>         
            <li>@Html.ActionLink("Cerrar Sesion", "Index", "Home")</li>
        </ul>
    </div>
</div>

<h2>Carga de Datos Json</h2>
<div id="foto">
    <img id="ima" src="@Url.Content("~/Imagenes/nave.png")" width="300" height="300" />
</div>

<div id="mover2">
    <div id="buscar">
        @using (Html.BeginForm("Carga", "Carga", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <span>Seleccionar archivo:</span>
            <input type="file" name="postedFile" />
            <br />
            <input type="submit" value="Subir" />
            <span style="color:green">@ViewBag.Message</span><br />
        }
    </div>
    </div>
<h3>Generar Arboles de cada Tipo</h3>
<div id="arboles">
    <div id="Pelis">
        @Html.ActionLink("Crear Arboles de Pelicula", "CrearPelis", "Carga", new { area = "" }, new { @class = "navbar-brand1" })<img id="ima" src="@Url.Content("~/Imagenes/peli.png")" width="100" height="100" />
    </div>
    <br />
    <div id="Series">
        @Html.ActionLink("Crear Arboles de Serie", "CrearSeries", "Carga", new { area = "" }, new { @class = "navbar-brand2" })<img id="ima" src="@Url.Content("~/Imagenes/series.png")" width="100" height="100" />
    </div>
    <br />
    <div id="Docus">
        @Html.ActionLink("Crear Arboles de Documentales", "CrearDocus", "Carga", new { area = "" }, new { @class = "navbar-brand3" })<img id="ima" src="@Url.Content("~/Imagenes/camara.jpg")" width="100" height="100" />
    </div>
</div>
    <br />
    <br />
    <br />
